In [76]:
import pandas as pd

# Replace 'your_file.xlsx' with the path to your .xlsx file
file_path = 'new_measures.xlsx'

# Read the Excel file
Wills_data = pd.read_excel(file_path)

df_mleczko = pd.read_csv("C:\\Users\\clint\\Desktop\\NZLUD_Checker\\old\\Wills_Python_NZLUD\\Mleczko_data.csv")
def extract_filename(path):
    """
    Extracts the filename without extension from a given file path.

    Parameters:
    path (str): The file path from which to extract the filename.

    Returns:
    str: The filename without its extension.
    """
    import os
    # Extract the base name of the file (e.g., 'AZ_Glendale.txt')
    base_name = os.path.basename(path)
    # Split the base name by '.' and return the first part (e.g., 'AZ_Glendale')
    return os.path.splitext(base_name)[0]
df_mleczko['muni'] = df_mleczko['muni'].apply(extract_filename)
df_mleczko = df_mleczko.set_index('muni')
Wills_data['muni'] = Wills_data['muni'].apply(extract_filename)
#Wills_data.head()
df_will = Wills_data.set_index('muni')
df_mleczko = df_mleczko.sort_index()
# Step 1: Sort both DataFrames by their index
df_will = df_will.sort_index()
#df_will.head()
full_mleczko=df_mleczko
df_mleczko = df_mleczko[['open_space']]
#df_mleczko
# Get the index of the column "open_space"
col_index = df_will.columns.get_loc("open_space")

# Drop all columns after "open_space"
df_will = df_will.iloc[:, :col_index + 1]
df_will = df_will.drop("open_space", axis=1)
#df_will


# Extract the first two letters from the index of df_will_filtered
first_two_letters = [str(index)[:2] for index in df_will.index]

# Print the result
print(first_two_letters)
full_mleczko
full_mleczko = full_mleczko.loc[:, :'adu']
combined_df = df_will.merge(full_mleczko, left_index=True, right_index=True)
# Assuming combined_df is your DataFrame
combined_df = combined_df.reset_index()  # Step 1: Reset the index
combined_df

# Step 2: Split the 'muni' column into 'statename' and 'place'
combined_df[['statename', 'place']] = combined_df['muni'].str.split('_', expand=True)
combined_df

# Step 3: Drop the original 'muni' column
combined_df = combined_df.drop(columns=['muni'])
combined_df

import pandas as pd

# Replace 'path/to/nzlud_muni.csv' with the actual file path
df_nzlud_muni = pd.read_csv('nzlud_muni.csv', encoding='latin1')


df_nzlud_muni = df_nzlud_muni.iloc[:, :3]
df_nzlud_muni
df_nzlud_muni_sorted = df_nzlud_muni.sort_values(by=['statename', 'place'])
df_nzlud_muni_sorted
df_nzlud_muni_sorted = df_nzlud_muni_sorted.reset_index(drop=True)
df_nzlud_muni_sorted
combined_df = combined_df.merge(df_nzlud_muni_sorted.iloc[:, :1], left_index=True, right_index=True)
combined_df

['AK', 'AK', 'AK', 'AK', 'AK', 'AK', 'AK', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AL', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AR', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'CT', 'DC', 'DE', 'DE', 'DE', 'DE', 'DE', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'HI', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'IA', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'ID', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'IN', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KS', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'KY', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'LA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MA', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'ME', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MN', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MO', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MS', 'MT', 'MT', 'MT', 'MT', 'MT', 'MT', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'NC', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NE', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NH', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NM', 'NV', 'NV', 'NV', 'NV', 'NV', 'NV', 'NV', 'NV', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'NY', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OH', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OK', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'OR', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'PA', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'RI', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SC', 'SD', 'SD', 'SD', 'SD', 'SD', 'SD', 'SD', 'SD', 'SD', 'SD', 'SD', 'SD', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TN', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'TX', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'UT', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VA', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VT', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WV', 'WY', 'WY', 'WY', 'WY', 'WY', 'WY', 'WY', 'WY']

,restrict_ware_permit,restrict_ware_units,limit_ware_dwellings,limit_ware_dwelling_units,restrict_offi_permit,restrict_offi_units,limit_offi_dwellings,limit_offi_dwelling_units,restrict_lab_permit,restrict_lab_units,...,planning_rz,zoning_rz,countybrd_rz,countyzone_rz,townmeet_rz,env_rev_rz,adu,statename,place,GEOID
0,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,AK,Anchorage,203000
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,AK,Homer,233140
2,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,AK,Kenai,238420
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,AK,Palmer,258660
4,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,AK,Petersburg,260310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,WY,Douglas,5621125
2635,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,WY,Jackson,5640120
2636,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,WY,Lander,5644760
2637,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,WY,Laramie,5645050
2638,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,WY,Rawlins,5663900

In [77]:
import pandas as pd

# URL of the data file
url = 'https://www2.census.gov/geo/docs/reference/codes2020/national_place2020.txt'

# Read the data into a DataFrame with the correct delimiter
df = pd.read_csv(url, delimiter='|')

# Display the DataFrame
df.head()

,STATE,STATEFP,PLACEFP,PLACENS,PLACENAME,TYPE,CLASSFP,FUNCSTAT,COUNTIES
0,AL,1,100,2582661,Abanda CDP,CENSUS DESIGNATED PLACE,U1,S,Chambers County
1,AL,1,124,2403054,Abbeville city,INCORPORATED PLACE,C1,A,Henry County
2,AL,1,460,2403063,Adamsville city,INCORPORATED PLACE,C1,A,Jefferson County
3,AL,1,484,2405123,Addison town,INCORPORATED PLACE,C1,A,Winston County
4,AL,1,676,2405125,Akron town,INCORPORATED PLACE,C1,A,Hale County

In [78]:
# Drop the 'PLACENS' and 'CLASSFP' columns from the df DataFrame
df.drop(['PLACENS','FUNCSTAT'], axis=1, inplace=True)
df.head()

,STATE,STATEFP,PLACEFP,PLACENAME,TYPE,CLASSFP,COUNTIES
0,AL,1,100,Abanda CDP,CENSUS DESIGNATED PLACE,U1,Chambers County
1,AL,1,124,Abbeville city,INCORPORATED PLACE,C1,Henry County
2,AL,1,460,Adamsville city,INCORPORATED PLACE,C1,Jefferson County
3,AL,1,484,Addison town,INCORPORATED PLACE,C1,Winston County
4,AL,1,676,Akron town,INCORPORATED PLACE,C1,Hale County

In [79]:
df['PLACEFP'] = df['PLACEFP'].astype(str).str.zfill(5)

In [80]:
df['state_place'] = df['STATEFP'].astype(str) + df['PLACEFP'].astype(str)
df.head()

,STATE,STATEFP,PLACEFP,PLACENAME,TYPE,CLASSFP,COUNTIES,state_place
0,AL,1,00100,Abanda CDP,CENSUS DESIGNATED PLACE,U1,Chambers County,100100
1,AL,1,00124,Abbeville city,INCORPORATED PLACE,C1,Henry County,100124
2,AL,1,00460,Adamsville city,INCORPORATED PLACE,C1,Jefferson County,100460
3,AL,1,00484,Addison town,INCORPORATED PLACE,C1,Winston County,100484
4,AL,1,00676,Akron town,INCORPORATED PLACE,C1,Hale County,100676

In [81]:
df.drop(['STATEFP', 'PLACEFP'], axis=1, inplace=True)
df

,STATE,PLACENAME,TYPE,CLASSFP,COUNTIES,state_place
0,AL,Abanda CDP,CENSUS DESIGNATED PLACE,U1,Chambers County,100100
1,AL,Abbeville city,INCORPORATED PLACE,C1,Henry County,100124
2,AL,Adamsville city,INCORPORATED PLACE,C1,Jefferson County,100460
3,AL,Addison town,INCORPORATED PLACE,C1,Winston County,100484
4,AL,Akron town,INCORPORATED PLACE,C1,Hale County,100676
...,...,...,...,...,...,...
32183,VI,Cruz Bay CDP,CENSUS DESIGNATED PLACE,U1,St. John Island,7828000
32184,VI,Frederiksted town,INCORPORATED PLACE,C9,St. Croix Island,7837900
32185,VI,Frederiksted Southeast CDP,CENSUS DESIGNATED PLACE,U2,St. Croix Island,7839700
32186,VI,Red Hook CDP,CENSUS DESIGNATED PLACE,U2,St. Thomas Island,7865530
32187,VI,Tutu CDP,CENSUS DESIGNATED PLACE,U1,St. Thomas Island,7878300

In [82]:


# Convert columns to the same data type (string)
df['state_place'] = df['state_place'].astype(str)
combined_df['GEOID'] = combined_df['GEOID'].astype(str)

# Merge the dataframes on the specified columns
merged_df = pd.merge(df, combined_df, left_on='state_place', right_on='GEOID', how='inner')
merged_df

,STATE,PLACENAME,TYPE,CLASSFP,COUNTIES,state_place,restrict_ware_permit,restrict_ware_units,limit_ware_dwellings,limit_ware_dwelling_units,...,planning_rz,zoning_rz,countybrd_rz,countyzone_rz,townmeet_rz,env_rev_rz,adu,statename,place,GEOID
0,AL,Athens city,INCORPORATED PLACE,C1,Limestone County,102956,0,0,0,0,...,1,0,0,0,0,0,1,AL,Athens,102956
1,AL,Auburn city,INCORPORATED PLACE,C1,Lee County,103076,0,0,0,0,...,1,0,0,0,0,0,1,AL,Auburn,103076
2,AL,Bessemer city,INCORPORATED PLACE,C1,Jefferson County,105980,0,0,0,0,...,1,1,0,0,0,0,0,AL,Bessemer,105980
3,AL,Birmingham city,INCORPORATED PLACE,C1,Jefferson County~~~Shelby County,107000,0,0,0,0,...,1,1,0,0,0,0,0,AL,Birmingham,107000
4,AL,Chickasaw city,INCORPORATED PLACE,C1,Mobile County,114392,0,0,0,0,...,1,1,0,0,0,0,0,AL,Chickasaw,114392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246,WY,Douglas city,INCORPORATED PLACE,C1,Converse County,5621125,0,0,0,0,...,1,1,0,0,0,0,0,WY,Douglas,5621125
2247,WY,Jackson town,INCORPORATED PLACE,C1,Teton County,5640120,0,0,0,0,...,0,1,1,0,0,0,0,WY,Jackson,5640120
2248,WY,Lander city,INCORPORATED PLACE,C1,Fremont County,5644760,0,0,0,0,...,1,1,0,0,0,0,0,WY,Lander,5644760
2249,WY,Laramie city,INCORPORATED PLACE,C1,Albany County,5645050,0,0,0,0,...,1,0,0,0,0,0,1,WY,Laramie,5645050
2250,WY,Rawlins city,INCORPORATED PLACE,C1,Carbon County,5663900,0,0,0,0,...,1,1,0,0,0,0,1,WY,Rawlins,5663900

In [83]:
rows_not_in_merged_df = combined_df[~combined_df['GEOID'].isin(merged_df['state_place'])]
counties_df=rows_not_in_merged_df

In [84]:
# URL of the data file
url = 'https://www2.census.gov/geo/docs/reference/codes2020/national_cousub2020.txt'

# Read the data into a DataFrame with the correct delimiter
df = pd.read_csv(url, delimiter='|')

# Display the DataFrame
df.head()

,STATE,STATEFP,COUNTYFP,COUNTYNAME,COUSUBFP,COUSUBNS,COUSUBNAME,CLASSFP,FUNCSTAT
0,AL,1,1,Autauga County,90171,161593,Autaugaville CCD,Z5,S
1,AL,1,1,Autauga County,90315,165647,Billingsley CCD,Z5,S
2,AL,1,1,Autauga County,92106,165648,Marbury CCD,Z5,S
3,AL,1,1,Autauga County,92628,165649,Prattville CCD,Z5,S
4,AL,1,3,Baldwin County,90207,161594,Bay Minette CCD,Z5,S

In [85]:
df.drop(['COUSUBNS', 'FUNCSTAT','CLASSFP'], axis=1, inplace=True)
# Assuming the column name is 'column_name'
df['COUSUBNAME'] = df['COUSUBNAME'].str.replace(' CCD', '', regex=False)
df.head()

  STATE  STATEFP  COUNTYFP      COUNTYNAME  COUSUBFP    COUSUBNAME
0    AL        1         1  Autauga County     90171  Autaugaville
1    AL        1         1  Autauga County     90315   Billingsley
2    AL        1         1  Autauga County     92106       Marbury
3    AL        1         1  Autauga County     92628    Prattville
4    AL        1         3  Baldwin County     90207   Bay Minette

In [86]:
merged_df.drop('TYPE', axis=1, inplace=True)

In [87]:
merged_df.drop(['state_place','CLASSFP'], axis=1, inplace=True)
merged_df['PLACENAME'] = merged_df['PLACENAME'].apply(lambda x: ' '.join(x.split()[:-1]))
merged_df

,STATE,PLACENAME,COUNTIES,restrict_ware_permit,restrict_ware_units,limit_ware_dwellings,limit_ware_dwelling_units,restrict_offi_permit,restrict_offi_units,limit_offi_dwellings,...,planning_rz,zoning_rz,countybrd_rz,countyzone_rz,townmeet_rz,env_rev_rz,adu,statename,place,GEOID
0,AL,Athens,Limestone County,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,AL,Athens,102956
1,AL,Auburn,Lee County,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,AL,Auburn,103076
2,AL,Bessemer,Jefferson County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,AL,Bessemer,105980
3,AL,Birmingham,Jefferson County~~~Shelby County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,AL,Birmingham,107000
4,AL,Chickasaw,Mobile County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,AL,Chickasaw,114392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246,WY,Douglas,Converse County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,WY,Douglas,5621125
2247,WY,Jackson,Teton County,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,WY,Jackson,5640120
2248,WY,Lander,Fremont County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,WY,Lander,5644760
2249,WY,Laramie,Albany County,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,WY,Laramie,5645050
2250,WY,Rawlins,Carbon County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,WY,Rawlins,5663900

In [88]:
# Assuming the column name is 'PLACENAME'
invalid_entries = merged_df[~merged_df['COUNTIES'].str.contains(r'^\w+ County$', na=False)]
invalid_entries

,STATE,PLACENAME,COUNTIES,restrict_ware_permit,restrict_ware_units,limit_ware_dwellings,limit_ware_dwelling_units,restrict_offi_permit,restrict_offi_units,limit_offi_dwellings,...,planning_rz,zoning_rz,countybrd_rz,countyzone_rz,townmeet_rz,env_rev_rz,adu,statename,place,GEOID
3,AL,Birmingham,Jefferson County~~~Shelby County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,AL,Birmingham,107000
7,AL,Decatur,Limestone County~~~Morgan County,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,AL,Decatur,120104
8,AL,Dothan,Dale County~~~Henry County~~~Houston County,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,AL,Dothan,121184
9,AL,Enterprise,Coffee County~~~Dale County,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,AL,Enterprise,124184
16,AL,Huntsville,Limestone County~~~Madison County~~~Morgan County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,AL,Huntsville,137000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,WI,North Fond du Lac,Fond du Lac County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,WI,NorthFondduLac,5558000
2213,WI,Onalaska,La Crosse County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,WI,Onalaska,5559925
2224,WI,River Falls,Pierce County~~~St. Croix County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,WI,RiverFalls,5568275
2236,WI,Watertown,Dodge County~~~Jefferson County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,WI,Watertown,5583975
2241,WI,Whitewater,Jefferson County~~~Walworth County,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,WI,Whitewater,5586925